.contact{
	text-align: center;
	position: relative;
}
.contact-form{
	width: 843px;
	height: 408px;
	background: url('/assets/img/form/form-background.jpg');
	@include border-radius(10px);	
	margin-bottom: 120px;
	@include inlineblock(middle);
	@extend %clearfix;
}
.contact-form-left{
	width: 50%;
	float: left;
	padding-top: 120px;
}	
.contact-form-left-text p{
	@include malina;
	color: #fff;
	font-size: 64px;
	text-align: center;
	@include inlineblock(middle);
}
.contact-form-right{
	width: 50%;
	float: right;
	background: rgba(#474a74, .8);
	min-height: 100%;
}							