.section7{
	background: $white;
}
footer{
	@extend %clearfix;
	margin-top: 22px;
}
.footer-left{
	width: 230px;
	float: left;
}
.footer-left-img{
	width: 230px;
}
.footer-copyright, .footer-contact{
	font-family: arial, verdana, sans-serif;
	font-weight: normal;
    color: $greey;
    font-size: 14px;
    float: left;
    width: 290px;
    text-align: center;
    margin-top: 20px;
}
.social-list{
	width: 250px;
	float: right;
	text-align: center;
}
.social-list-item{
	@include inlineblock(top);
}
.social-item-link{
	display: block;
	width: 46px;
	height: 46px;
	font-size: 0;
	text-decoration: none;

	&:hover{
		opacity: .6;
	}
}
.fa-facebook, .fa-instagram, .fa-odnoklassniki, .fa-twitter, .fa-vk{
	font-family: FontAwesome;
	content: "\f09a";
	font-size: 27px;
	color: $greey; 
	margin-top: 11px;
}