.section7{
	min-height: 758px;
	background: $white;
}
footer{
	@extend %clearfix;
	margin-top: 25px;
}
.footer-left{
	width: 230px;
	float: left;
}
.footer-left-img{
	width: 230px;
}
.footer-copyright, .footer-contact{
	font-family: arial, verdana, sans-serif;
	font-weight: normal;
    color: $greey;
    font-size: 14px;
    float: left;
    width: 285px;
    text-align: center;
}
.social-list{
	width: 300px;
	float: right;
}
.social-list-item{
	background: #000;
	@include inlineblock(top);
}
.social-item-link{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0;
	text-decoration: none;
}
.fb{
	font-family: FontAwesome;
	content: "\f09a";
	color: $greey; 
}