// vars
$white: #fff;
$black: #000;
$red: #AC1B22;
$lightgrey:#747474;
$body-font : 'als_malinaregular', Helvetica, serif;

// layout
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/adjustment";
@import "plugins/font_awesome";


// styles
@import "sections/page1";
@import "sections/page1-header";
@import "sections/page2";
@import "sections/page3";
@import "sections/myMenu";

//adaptive
@import "adaptive/media";