// vars
$white: #fff;
$black: #000;
$red: #AC1B22;
$lightgrey:#747474;
$greey: #8d8d8d;
$body-font : 'als_malinaregular', Helvetica, serif;

// layout
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/adjustment";
@import "plugins/font_awesome";


// styles
@import "sections/section1";
@import "sections/section1-header";
@import "sections/section1-slider";
@import "sections/section1-bxslider-table";
@import "sections/section2";
@import "sections/section3";
@import "sections/section4";
@import "sections/section5";
@import "sections/section6";
@import "sections/section7";
@import "sections/myMenu";
@import "sections/contact-form";


//adaptive
@import "adaptive/media";